<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>